* {box-sizing: border-box}

/* Add padding to containers */
.registerContainer {
    width: 30%;
    padding: 16px;
}

.registerText {
    text-align: center;
}

.registerInput {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.registerInput:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/register button */
.registerBtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerBtn:hover {
    opacity:1;
}

.regError {
    color: red;
}